@use "../../assets/scss/variables.scss" as *;

html,
body {
  margin: 0;
  background-color: var(--white);
  color: var(--secondary);
  font-size: $fs-body;
  font-family: var(--font-family-body);
  scroll-behavior: smooth;
}

a,
a:visited,
a:active {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--primary);
}
